<%= stylesheet_link_tag "questions/shops", :media => "all" %>

<div class="content">
  <div class="upside_content">
    <div class="shop">
      <div class="shop_title">
        <h1><%= @name %></h1>
      </div>
      <div class="shop_pic">
        <% if @shop_image.present? %>
            <img src="<%= @shop_image %>">
        <% else %>
            <%= image_tag "nothing.jpg" %>
        <% end %>
      </div>
      <div class="shop_info">
        <table>
          <tr>
            <th>ジャンル</th>
            <td><%= @category %></td>
          </tr>
          <tr>
            <th>ランチ相場</th>
            <td>
              <% if @lunch.present? %>
                  <p><%= @lunch %>円</p>
              <% else %>
                  <p>情報はありません</p>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>バウチャー</th>
            <td><%= @voucher %>
            </td>
          </tr>
          <tr>
            <th>喫煙</th>
            <td>
              <% if @smoking.present? %>
                  <p><%= @smoking %></p>
              <% else %>
                  <p>情報はありません</p>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>個室</th>
            <td>
              <% if @private_room.present? %>
                  <p><%= @private_room %></p>
              <% else %>
                  <p>情報はありません</p>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>住所</th>
            <td>
              <% if @address.present? %>
                  <p><%= @address %></p>
              <% else %>
                  <p>情報はありません</p>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td>
              <% if @tel.present? %>
                  <p><%= @tel %></p>
              <% else %>
                  <p>情報はありません</p>
              <% end %>
            </td>
          </tr>
        </table>
        <p></p>
      </div>

      <div class="food_pic">
        <ul>
          <% @eles.each do |ele| %>
              <li>
                <a href="<%= ele %>" target="_blank">
                  <img src="<%= ele %>">
                </a>
              </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="map">
      <div class="map_content">
        <iframe frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/directions?origin=35.673827%2C%20139.769051&destination=<%= @latitude %>%2C%20<%= @longitude %>&key=AIzaSyBvJ6IRWBb3ZLUKCUGaANZJW_xgHjKCmPs&mode=walking" allowfullscreen></iframe>
      </div>

      <div class="button">
        <div class="next_shop">
          <%= form_tag :action => "next" do %>
              <input type="submit" value="別の店舗">
          <% end %>
        </div>
        <div class="want_to_go">
          <%= form_tag({:controller => 'questions', :action => 'want_to_go'}) do %>
              <%= submit_tag(@want_to_go_btn_name, :id => 'want_to_go_submit') %>
          <% end %>
        </div>
        <div class="has_gone">
          <%= form_tag({:controller => 'questions', :action => 'has_gone'}) do %>
              <%= submit_tag(@has_gone_btn_name, :id => 'has_gone_submit') %>
          <% end %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="downside_content">
    <div class="want_to_go_menu">
      <div class="want_to_go_title">
        <h1>行きたい</h1>
      </div>
      <div class="want_to_go_list">
        <div class="want_to_go_shop">
          <% if @wanted_rest_infos.present? %>
              <div class="want_to_go_pic">
                <% @wanted_rest_infos.each do |wanted_rest_info| %>
                    <a href="<%= wanted_rest_info["url"] %>" target="_blank">
                      <img src="<%= wanted_rest_info["image_url"]["shop_image1"] %>">
                    </a>
                <% end %>
              </div>
              <div class="want_to_go_name">
                <% @wanted_rest_infos.each do |wanted_rest_info| %>
                    <a href="<%= wanted_rest_info["url"] %>" target="_blank">
                    <p><%= wanted_rest_info["name"] %></p>
                    </a>
                <% end %>
                <div class="clear"></div>
              </div>
          <% else %>
              <p>「行きたい」登録している店舗はありません</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="has_gone_menu">
      <div class="has_gone_title">
        <h1>行った</h1>
      </div>
      <div class="has_gone_list">
        <div class="has_gone_shop">
        <% if @gone_rest_infos.present? %>
            <div class="has_gone_pic">
              <% @gone_rest_infos.each do |gone_rest_info| %>
                  <a href="<%= gone_rest_info["url"] %>" target="_blank">
                    <img src="<%= gone_rest_info["image_url"]["shop_image1"] %>">
                  </a>
              <% end %>
            </div>
            <div class="has_gone_name">
              <% @gone_rest_infos.each do |gone_rest_info| %>
                  <a href="<%= gone_rest_info["url"] %>" target="_blank">
                  <p><%= gone_rest_info["name"] %></p>
                      </a>
              <% end %>
              <div class="clear"></div>
            </div>
        <% else %>
            <p>「行った」登録している店舗はありません</p>
        <% end %>
      </div>
        </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>